.1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e1_3 { 
	color:rgba(0, 0, 0, 1);
	width:900px;
	height:77px;
	position:absolute;
	left:270px;
	top:44px;
	font-family:Roboto;
	text-align:center;
	font-size:46px;
	letter-spacing:0;
}
.e1_4 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:33px;
	position:absolute;
	left:25px;
	top:133px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e1_5 { 
	color:rgba(0, 0, 0, 1);
	width:112px;
	height:20px;
	position:absolute;
	left:179px;
	top:133px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e8_70 { 
	width:1400px;
	height:846px;
	position:absolute;
	left:20px;
	top:178px;
}
.e8_69 { 
	width:1400px;
	height:2100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_63 { 
	width:700px;
	height:700px;
	position:relative;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_68 { 
	width:700px;
	height:700px;
	position:relative;
	left:0px;
	top:1400px;
	background-image:url(images/rectangle_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_64 { 
	width:700px;
	height:700px;
	position:relative;
	left:700px;
	top:0px;
	background-image:url(images/rectangle_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_67 { 
	width:700px;
	height:700px;
	position:relative;
	left:700px;
	top:1400px;
	background-image:url(images/rectangle_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_66 { 
	width:700px;
	height:700px;
	position:relative;
	left:700px;
	top:700px;
	background-image:url(images/rectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_65 { 
	width:700px;
	height:700px;
	position:relative;
	left:0px;
	top:700px;
	background-image:url(images/rectangle_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
